.left {
	width: 50%;
	background: #f8f7f6;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	.background-img {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 90%;
		opacity: 0.8;
	}

	.content {
		padding: 60px;
		height: auto;
		padding-bottom: 150px;

		svg {
			height: 35px;
		}

		h3 {
			font-size: 48px;
			color: #181716;
			margin-top: 25px;
			margin-bottom: 180px;
		}

		.quote {
			display: flex;
			gap: 10px;

			img {
				width: 112px;
				height: 112px;
				border-radius: 50%;
				margin-top: auto;
			}

			.quote-content {
				max-width: 400px;
				height: fit-content;
				border-radius: 20px;
				background: #ffffff;
				font-size: 16px;
				color: #5a4c42;
				line-height: 25px;
				padding: 12px 12px 12px 70px;
				position: relative;
				margin-bottom: 50px;

				svg {
					position: absolute;
					top: -10px;
					left: 10px;
					color: #c5541f;
					height: 50px;
					width: 50px;
				}
			}
		}

		p {
			font-size: 16px;
			color: #282421;
			font-weight: bold;
			margin-top: 20px;
			margin-bottom: 8px;
		}

		span {
			font-size: 16px;
			color: #282421;
		}
	}
}
